.display-4 {font-size: 3rem !important;}
.btn-primary {background-color: #000 !important;border-color: #000 !important;}
.fieldset-legend{font-weight:bold;}
.info-text{font-size: .75rem !important; color:#999 !important;}
#edit-email { width:50% !important}
#edit-subscriber-name { width:50% !important}
#edit-phone-number { width:50% !important}