<fieldset data-drupal-selector="edit-customfield" id="edit-customfield" class="required js-form-item form-item js-form-wrapper form-wrapper" required="required" aria-required="true">
      <legend>
    <span class="fieldset-legend js-form-required">{{ 'Mail Confirmation!'|t }}</span>
  </legend>
  <div class="fieldset-wrapper">
              <br /><br />
              <h4>{{ data.msg }}</h4>  
			  <br /><br />
 </div>
</fieldset>